[package]
name = "adae"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cpal = "0.15.2"
atomicbox = "0.4.0"
ringbuf = "0.3.3"
hound = { version = "3.4.0", optional = true }
lazy_static = { version = "1.4.0", optional = true }
symphonia = { version = "0.5.1", features = ["mp3"]}
num-traits = "0.2.15"
intrusive-collections = "0.9.4"
ouroboros = "0.15.5"
rubato = "0.13.0"

[dev-dependencies]
# Tests may want to output audio for debugging purposes
hound = "3.4.0"

[features]
# Record output for debug purposes
record_output = ["hound"]

# Print all debug info to custom function
custom_debug_output = ["lazy_static"]
