[package]
name = "ardae"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cpal = "0.13.4"
atomicbox = "0.4.0"
ringbuf = "0.2.8"
hound = { version = "3.4.0", optional = true }
lazy_static = { version = "1.4.0", optional = true }
symphonia = { version = "0.5.1", features = ["mp3"]}
backtrace = "0.3"

[features]
# Record output for debug purposes
record_output = ["hound"]

# Print all debug info to custom function
custom_debug_output = ["lazy_static"]

# default = ["custom_debug_output"]
