name: Build and Test

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

env:
    CARGO_TERM_COLOR: always

jobs:
    build_and_test:
        name: Build and Test
        runs-on: ubuntu-latest
        env:
            DOCKERHUB_USERNAME: holgermogensen
        container:
            image: ${{ env.DOCKERHUB_USERNAME }}/voil-ci:adae
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v4
            - name: Check with Clippy
              run: cargo clippy --all-targets --all-features -- -D warnings
            - name: Run Tests
              run: cargo test
